/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/header.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
*{
    text-decoration: none;
   
    
}

.btn{
    height: 20px;
    width: auto;
    background-color: white;
    color: black;
    border:5px white solid;
    border-radius: 20px;
}

.Header-Container {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 5px black solid;
    background-color: black;
    align-items: center;
    color: white;
}

.Header-Container-Left{

   display: flex;
   flex-direction: row;
   flex: 1 1;
   align-items: center;
}


.Header-Container-Left img{
    margin: 8px;
    height: 40px;
    width: 40px;
   justify-content: flex-start;
}

.Header-Container-Left h1{
    margin: 8px;
  
    
}

.Header-Container-Right{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Header-Container-Right p{
   justify-content: flex-end;
   margin: 8px;


}

.Header-Container-Right button{
    justify-content: flex-end;
    height: 2.7rem;
    margin: 8px;
    width: 5rem;
    background-color: white;
    border: 0;
    border-radius: 50px;
    color: black;
}





/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/view-plan.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.view-plan li{
    list-style-type: none;
}

.view-plan h2{
    font-size: 3rem;
    color: green;
}

.view-plan h1{
    font-size: 2.3rem;
    flex: 1 1;
    margin: auto;
}

.food-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    color: #292929;
    border: 5px black solid;
    border-radius: 1rem;
    margin: 2rem;
    width: auto;
    height: 4rem;
}

.food-info p{
    justify-content: flex-end;   
    font-size: 2rem;
    margin: auto 4rem;
}

.food-info button{
    font-size: 1.5rem;
    background-color: rgba(255, 0, 0, 0.822);
    border: 3px black solid;
    height: 3rem;
    margin: auto auto;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
  }
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/itemslist.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.items{
    display: flex;
    flex-direction: row;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/components/Button.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor:move; 
  }
  
  .button:hover,
  .button:active {
    background: #791188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/form.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
form {
    background-color: #f0f0f0; /* Example styling */
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    margin: auto auto;
    margin-top: 30px;
  }

  h2{
    margin-top: 2rem;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: red;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
 
  }


  input[type="number"],
  input[type="link"],
  input[type="text"],
  input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .flex-button{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
