.add-item h3{
  margin: 2rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: red;
}

.button[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  