*{
    margin: 0;
    padding: 0;
    width: auto;
    
    height: auto;
}


.flex-container{
    color:black;
    display: flex;
    flex-direction: row;
   

}

.flex-container-right{

    margin: auto auto;
}
.flex-container-right h3{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    word-wrap: break-word;
    text-align: center;
    margin: 10px auto;
    color:black;
}

.flex-container-right p{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
    color:black;
}


.flex-container-left{
    
    margin: 12rem auto;
}