/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/header.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
*{
    text-decoration: none;
   
    
}

.btn{
    height: 20px;
    width: auto;
    background-color: white;
    color: black;
    border:5px white solid;
    border-radius: 20px;
}

.Header-Container {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 5px black solid;
    background-color: black;
    align-items: center;
    color: white;
}

.Header-Container-Left{

   display: flex;
   flex-direction: row;
   flex: 1 1;
   align-items: center;
}


.Header-Container-Left img{
    margin: 8px;
    height: 40px;
    width: 40px;
   justify-content: flex-start;
}

.Header-Container-Left h1{
    margin: 8px;
  
    
}

.Header-Container-Right{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Header-Container-Right p{
   justify-content: flex-end;
   margin: 8px;


}

.Header-Container-Right button{
    justify-content: flex-end;
    height: 2.7rem;
    margin: 8px;
    width: 5rem;
    background-color: white;
    border: 0;
    border-radius: 50px;
    color: black;
}





/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/Button.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #791188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }
  
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/items.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.meal-item{
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 20rem;
  height: 20rem;
}

.li{
  display: flex;
  flex-direction: column;
  background-color: #52329c68;
  color: #292929;
  border: 5px black solid;
  border-radius: 50px;
  margin: 20px;
  width: 20rem;
  height: 20rem;
  list-style: none;
}

h2{
    color: black;
    margin: 3px;
    text-align: center;
}

.meal-img {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  border-radius: 25%;
}


.meal-info p {
  margin: 5px;
  font-weight: normal;
  color: #52329c;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

button{
  width: 4rem;
  height: inherit;
  margin: 1rem auto;
  background-color:white ;
  border: black solid;
  border-radius: 50px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
  }
